{{ define "main" }}
{{ with .Site.Params.authorImage }}
<div>
    <img  style="width: 100px;" src="{{ . }}" />
</div>
{{ end }}
{{ .PublishDate.Format "January 2, 2006" }}
<section class="section">
    <article>
        <div class="columns is-centered">
            <div class="column max-800px">
                <h1 class="title is-1">{{ .Title }}</h1>
                <div class="content">
                    {{ .Content }}
                </div>
            </div>
        </div>
    </article>
</section>
{{ end }}
